  
/* Home Styles */

.container {
    display:flex;
    flex-direction:column;
    min-height:100vh;
  }
  
  
  #clm-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
  }

  #bodypix-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
  }

  #webgl {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
  }

  #videoel {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
    
  }

#text-canvas{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.hidden {
  display: none;
}

#options-button {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 11;
}

#text-options {
  border: 1px solid black;
}

.dialogBox {
  border-bottom: 1px solid blue;
  padding-bottom: 10px;
}